.container {
  padding-top: 50px;
}

.avatar {
  display: block;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  border-radius: 0%;
  border: 1px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.btn {
  min-width: 100px;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  margin: 10px auto;
  border-color: transparent;
}

.btns {
  width: 100px;
  margin: auto;
}

.btn-file {
  display: block;
  width: 100px;
  background-color: #f1ffb1;
  color: #121212;
}

.btn-file input[type="file"] {
  display: none;
}

.btn-save {
  background-color: #121212;
}

#info {
  width: 2px; height: 2px;
  background-color: transparent;
  position: absolute;
  border-radius: 100px;
  border: 2px solid yellow;

}
